.section {
  position: relative;
  margin: 0 auto;
  padding: 60px 0;
  overflow-x: hidden;
}
.container {
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 90%;
  min-width: 304px;
  padding: 0 32px
}
.nettools-name {  
  display: flex;
  align-items: center;
  height: 70px;
  gap: 30px;
  margin-bottom: 32px;
}  
.left-container {
  flex: 1;
  padding: 20px;
}
.right-container {
    flex: 1.2;
}
.icon {
  height: 80px;
  width: auto;
  margin-bottom: 32px;
}
.nettools-text {
  font-size: 60px;
  line-height: 1.5;
}
.main-ui {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  background-size: cover;
  background-position: center;
  background-image: url('background.jpg');
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.main-ui img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: auto;
  max-height: 97%;
}
.image-blue-border {
  border: 2px solid blue;
}
.image-black-border {
  border: 1px solid black;
}
.blue-text {
  color: blue;
}
.center-text {
  text-align: center;
}
.table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}
.table, .table-header, .table-data {
  border: 1px solid black;
}
.table-header {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  height: 50px
}
.table-data {  
  text-align: center;
  font-weight: bold;
  height: 40px
}
.playstore-container {
  margin: 0 auto;
  width: 80%;
}
.playstore-content-container {
  margin: 0 auto;
  width: 95%;
}
.group-image {
  margin: 0 auto;
  width: auto;
  height: 200px;
}
.playstore-image {
  margin: 0 auto;
  width: auto;
  height: 600px;
}
@font-face {
    font-family: X-LocaleSpecific;
    font-weight: normal;
    font-display: swap;
    src:
        local(FZLTXHK--GBK1-0),
        local(HiraginoSansGB-W3),
        local('Microsoft YaHei Light'),
        local(DroidSansFallbackFull);
}
@font-face {
    font-family: X-LocaleSpecific;
    font-weight: bold;
    font-display: swap;
    src:
        local(FZLTZHK--GBK1-0),
        local(HiraginoSansGB-W6),
        local('Microsoft YaHei Bold'),
        local(DroidSansFallbackFull);
}
@font-face {
    font-family: X-LocaleSpecific-Extrabold;
    font-weight: 800;
    font-display: swap;
    src:
        local(FZLTTHK--GBK1-0),
        local(HiraginoSansGB-W6),
        local('Microsoft YaHei Bold'),
        local(DroidSansFallbackFull);
}
* {
    font-style: normal !important; /* stylelint-disable-line declaration-no-important */
}
:root {
  --body-font-family:Inter,X-LocaleSpecific,sans-serif;
  --button-font-family:Metropolis,Inter,X-LocaleSpecific,sans-serif;
  --title-font-family:Metropolis,Inter,X-LocaleSpecific,sans-serif;
  --background-color-tertiary-inverse:#312a64;
  --background-color-tertiary:#ededf0;
  --background-color-secondary-inverse:#291d4f;
  --background-color-secondary:#f9f9fb;
  --background-color-inverse:#20123a;
  --background-color:#fff;
  --body-text-color-secondary-inverse:#cdcdd4;
  --body-text-color-secondary:#5e5e72;
  --body-text-color-inverse:#fff;
  --body-text-color:#42425a;
  --link-color-hover-inverse:#aaf2ff;
  --link-color-hover:#0250bb;
  --link-color-inverse:#80ebff;
  --link-color-visited-hover-inverse:#e7dfff;
  --link-color-visited-hover:#0250bb;
  --link-color-visited-inverse:#d9bfff;
  --link-color-visited:#b833e1;
  --link-color:#0060df;
  --title-text-color-inverse:#fff;
  --title-text-color:#20123a
}
:root {
  --title-2xl-size:4rem;
  --title-2xl-line-height:1.125;
  --title-xl-size:3.5rem;
  --title-xl-line-height:1.143;
  --title-lg-size:3rem;
  --title-lg-line-height:1.166;
  --title-md-size:2.5rem;
  --title-md-line-height:1.1;
  --title-sm-size:2rem;
  --title-sm-line-height:1.125;
  --title-xs-size:1.5rem;
  --title-xs-line-height:1.166;
  --title-2xs-size:1.25rem;
  --title-2xs-line-height:1.2;
  --title-3xs-size:1rem;
  --title-3xs-line-height:1.25;
  --body-xl-size:1.313rem;
  --body-lg-size:1.125rem;
  --body-md-size:1rem;
  --body-sm-size:0.875rem;
  --body-xs-size:0.75rem;
  --body-line-height:1.5
}
:root {
  --v-grid-xs:48px;
  --h-grid-xs:24px;
  --v-grid-sm:48px;
  --h-grid-sm:24px;
  --v-grid-md:48px;
  --h-grid-md:64px;
  --v-grid-lg:48px;
  --h-grid-lg:64px;
  --v-grid-xl:96px;
  --h-grid-xl:80px
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
li,
ol,
p,
pre,
table,
ul {
  margin:0;
  padding:0
}
table {
  border-collapse:collapse;
  border-spacing:0
}
dl,
ol,
p,
table,
ul {
  margin:0 0 1.25em
}
code {
  font-size:inherit
}
hr {
  border:solid #ededf0;
  border-width:4px 0 0;
  margin:48px 0
}
html {
  font-size:100%
}
body,
html {
  background:#fff
}
body {
  color:#000;
  font-family:Inter,X-LocaleSpecific,sans-serif;
  font-size:16px;
  font-size:1rem;
  line-height:1.5;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color:#000;
  font-family:Zilla Slab,Inter,X-LocaleSpecific,sans-serif;
  font-weight:700;
  margin:0 0 .5em
}
h1 {
  font-size:40px;
  font-size:2.5rem;
  line-height:1.1
}
@media(min-width:768px) {
  h1 {
    font-size:48px;
    font-size:3rem;
    line-height:1.166
  }
}
h2 {
  font-size:32px;
  font-size:2rem;
  line-height:1.125
}
@media(min-width:768px) {
  h2 {
    font-size:40px;
    font-size:2.5rem;
    line-height:1.1
  }
}
h3 {
  font-size:24px;
  font-size:1.5rem;
  line-height:1.166
}
@media(min-width:768px) {
  h3 {
    font-size:32px;
    font-size:2rem;
    line-height:1.125
  }
}
h4 {
  font-size:20px;
  font-size:1.25rem;
  line-height:1.2
}
@media(min-width:768px) {
  h4 {
    font-size:24px;
    font-size:1.5rem;
    line-height:1.166
  }
}
h5 {
  font-size:16px;
  font-size:1rem;
  line-height:1.25
}
@media(min-width:768px) {
  h5 {
    font-size:20px;
    font-size:1.25rem;
    line-height:1.2
  }
}
h6 {
  font-size:16px;
  font-size:1rem;
  line-height:1.25
}
@supports(--css:variables) {
  h6 {
    font-size:var(--title-3xs-size);
    line-height:var(--title-3xs-line-height)
  }
}